{% extends "extends/wallet_dashboard.html" %}


{% block content %}
<div class="uk-container uk-margin-top">
  <div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="uk-alert-{{ category }}" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
      </div>
      {% endfor %} {% endif %} {% endwith %}
      <form action="/send_tx">
        <fieldset class="uk-fieldset">

            <legend class="uk-legend">Send Bitcoin</legend>

            <div class="uk-margin">
                <select class="uk-select" name="from">
                  {% for wallet in wallets %}
                    {% if wallet.wallet_balance != 0 %}
                      <option value="{{wallet.address}}">{{wallet.address}} | {{wallet.wallet_balance}} BTC</option>
                    {% endif %}
                  {% endfor %}
                </select>
            </div>

            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="To address" name="to_address">
            </div>

            <div class="uk-margin">
                <input class="uk-input" type="text" name="value" placeholder="Amount">
            </div>

            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-radio" type="radio" name="speed" value="low" checked> Low</label>
                <label><input class="uk-radio" type="radio" name="speed" value="med"> Medium</label>
                <label><input class="uk-radio" type="radio" name="speed" value="high"> Fast</label>
            </div>

            <button class="uk-button uk-button-primary" type="submit">Send</button>

        </fieldset>
    </form>
  </div>
  </div>
</div>
{% endblock %}
