{% extends "extends/wallet_dashboard.html" %}


{% block content %}
<div class="uk-grid uk-grid-divider uk-margin-top uk-grid-medium uk-child-width-1-2 uk-child-width-1-3@l uk-child-width-1-5@xl" data-uk-grid>
  <div>
    <span class="uk-text-small"><span data-uk-icon="icon:credit-card" class="uk-margin-small-right uk-text-primary"></span>Transactions</span>
    <h1 class="uk-heading-primary uk-margin-remove  uk-text-primary">{{transactions|length}}</h1>

  </div>
  <div>

    <span class="uk-text-small"><span data-uk-icon="icon:social" class="uk-margin-small-right uk-text-primary"></span>Current Balance</span>
    <h1 class="uk-heading-primary uk-margin-remove uk-text-primary"><span id="balance">{{total_balance}}</span> <span class="uk-text-muted uk-text-large">BTC Testnet</span></h1>


  </div>
  <div>

    <span class="uk-text-small"><span data-uk-icon="icon:search" class="uk-margin-small-right uk-text-primary"></span>Active Addresses</span>
    <h1 class="uk-heading-primary uk-margin-remove uk-text-primary">{{wallets|length}}</h1>


  </div>
</div>

<div class="uk-child-width-expand@s" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h4 class="uk-card-title ">Transactions</h4>
          <table class="uk-table uk-table-divider">
              <thead>
                  <tr>
                      <th class="uk-table-shrink">Direction</th>
                      <th class="uk-table-expand">TXID</th>
                      <th>Value</th>
                  </tr>
              </thead>
              <tbody id="transaction_table">
                {% for transaction in transactions %}
                  <tr>
                    {% if transaction.direction == "Incoming" %}
                      <td class="uk-text-center"><span class="uk-text-danger" data-uk-icon="icon: chevron-up"></span></td>
                      {% else %}
                      <td class="uk-text-center"><span class="uk-text-success" data-uk-icon="icon: chevron-down"></span></td>
                      {% endif %}
                      <td class="uk-text-truncate">{{transaction.txid}}</td>
                      <td class="uk-text-danger uk-text-bold">{{transaction.tx_value}}</td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h4 class="uk-card-title">Addresses</h4>
          <table class="uk-table uk-table-divider">
              <thead>
                  <tr>
                      <th class="uk-table-expand">Address</th>
                      <th class="uk-table-shrink">Balance</th>
                      <th class="uk-table-shrink">Status</th>
                  </tr>
              </thead>
              <tbody id="table">
                {% for wallet in wallets %}
                  <tr>
                      <td id="address" class="uk-text-truncate">{{wallet.address}}</td>
                      <td class="uk-text-bold">{{wallet.wallet_balance}}</td>
                      <td class="uk-text-success">{{wallet.status}}</td>
                  </tr>
                  {% endfor %}

              </tbody>
          </table>
          <div class="uk-position-bottom-center uk-overlay uk-text-center bottom">
            <!--    <div class="uk-position-bottom uk-overlay uk-overlay-default uk-text-center"> -->
            <button id="add_row" type="button" class="uk-button uk-button-primary uk-button-small uk-margin-top bottom-float" type="button"><span uk-icon="icon: plus"></span></button>
          </div>
        </div>
    </div>

</div>
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title uk-text-large" id="modal-address">Address Here</h2>
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div id="qrcode"></div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          Balance: <span id="modal-balance"></span>

        </div>
    </div>
</div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" onclick="UIkit.notification({message: 'Refresh successful', status: 'success'})">Refresh</button>
        </p>
    </div>
</div>
<style>
.bottom {
  bottom: -3em;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/2.1.6/pusher.min.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script>




Pusher.host = 'slanger1.chain.so'; // our server
Pusher.ws_port = 443; // our server's port
Pusher.wss_port = 443; // ...

// create the pusher client connection
var pusher = new Pusher('e9f5cc20074501ca7395', { encrypted: true, disabledTransports: ['sockjs'], disableStats: true });

// subscribe to the channel for address balance updates (new transactions only)
{% for wallet in wallets %}
var ticker = pusher.subscribe('address_btctest_{{wallet.address}}');

ticker.bind('balance_update', function(data) {
    if (data.type == "address") {
      console.log(data)
      $("#balance").text(parseFloat($("#balance").text())+data['value']['balance_change'])

      $.ajax({
        url: "/update_balance?address="+data['value']['address']+"&network=BTCTEST",
        type: "get",
        success: function(response) {
          console.log("updated balance in database")
        },
        error: function(xhr) {
          //Do Something to handle error
        }
      });
      // update an HTML div or span with the new content, for e.g.: data.value.balance_change
    }
    });
  {% endfor %}
$("#table tr td").click(function(e){
  // alert(1)
  e = e || window.event;
var data = [];
var target = e.srcElement || e.target;
while (target && target.nodeName !== "TR") {
    target = target.parentNode;
}
if (target) {
    var cells = target.getElementsByTagName("td");
    for (var i = 0; i < cells.length-1; i++) {
        if(i == 1){
          $("#modal-balance").text(cells[i].innerHTML)
        } else {
          $("#qrcode").empty()
          var qrcode = new QRCode("qrcode", {
    text: cells[i].innerHTML,
    width: 128,
    height: 128
});

          $("#modal-address").text(cells[i].innerHTML)
        }
        // data.push(cells[i].innerHTML);
    }
}
  UIkit.modal("#modal-example").show();

// alert(data);
})
  $("#add_row").click(function(){

    $.ajax({
      url: "/add_address?coin=testnet",
      type: "get",
      success: function(response) {
        var ticker = pusher.subscribe('address_btctest_'+response["address"]);
        ticker.bind('balance_update', function(data) {
            if (data.type == "address") {
              console.log(data)
              $("#balance").text(parseFloat($("#balance").text())+parseFloat(data['value']['balance_change']))

              $.ajax({
                url: "/update_balance?address="+data['value']['address']+"&network=BTCTEST",
                type: "get",
                success: function(response) {
                  console.log("updated balance in database")
                },
                error: function(xhr) {
                  //Do Something to handle error
                }
              });
              // update an HTML div or span with the new content, for e.g.: data.value.balance_change
            }
            });
        var table = document.getElementById("table");
      var row = table.insertRow(0);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3= row.insertCell(2);
      cell1.className = "uk-text-truncate"
      cell2.className = "uk-text-bold"
      cell3.className = 'uk-text-success';

      cell1.innerHTML = response["address"];
      cell2.innerHTML = response["balance"];
      cell3.innerHTML = response['status'];
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });

  })
</script>


{% endblock %}
