{% extends "extends/wallet_dashboard.html" %}


{% block content %}
<div class="uk-grid uk-grid-divider uk-margin-top uk-grid-medium uk-child-width-1-2 uk-child-width-1-3@l uk-child-width-1-5@xl" data-uk-grid>
  <div>
    <span class="uk-text-small"><span data-uk-icon="icon:credit-card" class="uk-margin-small-right uk-text-primary"></span>Transactions</span>
    <h1 class="uk-heading-primary uk-margin-remove  uk-text-primary">{{transactions|length}}</h1>

  </div>
  <div>

    <span class="uk-text-small"><span data-uk-icon="icon:social" class="uk-margin-small-right uk-text-primary"></span>Current Balance</span>
    <h1 class="uk-heading-primary uk-margin-remove uk-text-primary"><span id="balance">{{total_balance}}</span> <span class="uk-text-muted uk-text-large">{{coin}}</span></h1>


  </div>
  <div>

    <span class="uk-text-small"><span data-uk-icon="icon:search" class="uk-margin-small-right uk-text-primary"></span>Active Addresses</span>
    <h1 class="uk-heading-primary uk-margin-remove uk-text-primary">{{wallets|length}}</h1>


  </div>
</div>

<div class="uk-child-width-expand@s" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h4 class="uk-card-title ">Transactions</h4>
          <table class="uk-table uk-table-divider">
              <thead>
                  <tr>
                      <th class="uk-table-shrink">Direction</th>
                      <th class="uk-table-expand">TXID</th>
                      <th>Value</th>
                  </tr>
              </thead>
              <tbody id="transaction_table">
                {% for transaction in transactions %}
                  <tr>
                    {% if transaction.direction == "Incoming" %}
                      <td class="uk-text-center"><span class="uk-text-success" data-uk-icon="icon: chevron-down"></span></td>
                      {% elif transaction.direction == "Outgoing" %}
                      <td class="uk-text-center"><span class="uk-text-danger" data-uk-icon="icon: chevron-up"></span></td>
                      {% else %}
                      <td class="uk-text-center"><span class="uk-text-warning" data-uk-icon="icon: minus"></span></td>
                      {% endif %}
                      <td class="uk-text-truncate">{{transaction.txid}}</td>
                      {% if transaction.direction == "Incoming" %}
                        <td class="uk-text-success uk-text-bold">{{transaction.tx_value}}</td>
                        {% elif transaction.direction == "Outgoing" %}
                        <td class="uk-text-danger uk-text-bold">{{transaction.tx_value}}</td>
                        {% else %}
                        <td class="uk-text-danger uk-text-bold">{{transaction.tx_value}}</td>

                        {% endif %}

                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h4 class="uk-card-title">Addresses</h4>
          <table class="uk-table uk-table-divider">
              <thead>
                  <tr>
                      <th class="uk-table-expand">Address</th>
                      <th class="uk-table-shrink">Balance</th>
                      <th class="uk-table-shrink">Status</th>
                  </tr>
              </thead>
              <tbody id="table">
                {% for wallet in wallets %}
                  <tr>
                      <td id="address" class="uk-text-truncate">{{wallet.address}}</td>
                      <td class="uk-text-bold">{{wallet.wallet_balance}}</td>
                      <td class="uk-text-success">{{wallet.status}}</td>
                  </tr>
                  {% endfor %}

              </tbody>
          </table>
          <div class="uk-position-bottom-center uk-overlay uk-text-center bottom">
            <!--    <div class="uk-position-bottom uk-overlay uk-overlay-default uk-text-center"> -->
            <button id="add_row" type="button" class="uk-button uk-button-primary uk-button-small uk-margin-top bottom-float" type="button"><span uk-icon="icon: plus"></span></button>
          </div>
        </div>
    </div>

</div>
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title uk-text-large" id="modal-address">Address Here</h2>
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-flex uk-flex-center">
          <div id="qrcode"></div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          Balance: <span id="modal-balance"></span>

        </div>
    </div>
</div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" id="refresh">Refresh</button>
        </p>
    </div>
</div>
<div id="modal-transaction" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title uk-text-large uk-text-truncate">fa724d3080a55a21a33a6514ac02e33f8e8fe95a1f6d2aa1bd876f1fcad99823 </h2>
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-text-truncate">
          mvFuwrkMAmP7M2JidzBwVJfbug1d1B7MNg
        </div>
    </div>
    <div class="uk-width-auto uk-flex uk-flex-middle">
      <div class="uk-flex uk-flex-column">
   <div><span uk-icon="icon: arrow-right; ratio: 2"></span></div>
   <div>Value: 0.25 BTC</div>
</div>

    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-text-truncate">
          mvFuwrkMAmP7M2JidzBwVJfbug1d1B7MNg
        </div>
    </div>
</div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" id="refresh">Refresh</button>
        </p>
    </div>
</div>


<div id="password-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>

            <div class="uk-modal-body"> <label>Enter your password:</label> <input class="uk-input" placeholder="Password" id="pwd-input" type="password" autofocus=""> </div>

        <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <button class="uk-button uk-button-primary uk-modal-close" id="pwd-submit">Ok</button>
        </div>
    </div>
</div>

<style>
.bottom {
  bottom: -3em;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/forge/0.7.6/forge.min.js"></script>
<script>
function edit_row(address, new_value) {
	// console.log(address)
	var term = address; // term you're searching for
	var column = 0; // which column to search
	var pattern = new RegExp(term, 'g'); // make search more flexible
	var table = document.getElementById('table');
	var tr = table.getElementsByTagName('TR');
	for (var i = 0; i < tr.length; i++) {
		var td = tr[i].getElementsByTagName('TD');
		for (var j = 0; j < td.length; j++) {
			if (j == column && td[j].innerHTML == term) {

				// for more flexibility use match() function and the pattern built above
				// if(j == column && td[j].innerHTML.match(pattern)){
				td[1].innerHTML = new_value;
			}
		}
	}
}

$("#table tr td").click(function(e) {
	// alert(1)
	e = e || window.event;
	var data = [];
	var target = e.srcElement || e.target;
	while (target && target.nodeName !== "TR") {
		target = target.parentNode;
	}
	if (target) {
		var cells = target.getElementsByTagName("td");
		for (var i = 0; i < cells.length - 1; i++) {
			if (i == 1) {
				$("#modal-balance").text(cells[i].innerHTML)
			} else {
				$("#qrcode").empty()
				var qrcode = new QRCode("qrcode", {
					text: cells[i].innerHTML,
					width: 128,
					height: 128
				});

				$("#modal-address").text(cells[i].innerHTML)
			}
			// data.push(cells[i].innerHTML);
		}
	}
	UIkit.modal("#modal-example").show();

	// alert(data);
})


$("#transaction_table tr td").click(function(e) {

	UIkit.modal("#modal-transaction").show();

})

$("#add_row").click(function() {
	var data = sessionStorage.getItem('encrypted_password');
	$.ajax({
		url: "/add_address?coin={{coin}}&encrypted_data=" + data,
		type: "get",
		success: function(response) {
			var table = document.getElementById("table");
			var row = table.insertRow(0);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			cell1.className = "uk-text-truncate"
			cell2.className = "uk-text-bold"
			cell3.className = 'uk-text-success';

			cell1.innerHTML = response["address"];
			cell2.innerHTML = response["balance"];
			cell3.innerHTML = response['status'];
			UIkit.notification({
				message: 'Address creation successful',
				status: 'success'
			})
		},
		error: function(xhr) {
			// console.log(xhr)
			UIkit.notification({
				message: 'Address creation failure: ' + xhr['statusText'],
				status: 'danger'
			})
			//Do Something to handle error
		}
	});
})

$("#refresh").click(function() {
	address = $("#modal-address").text()
	$.ajax({
		url: "/update_balance/{{coin}}?address=" + address,
		type: "get",
		success: function(response) {
			UIkit.notification({
				message: 'Refresh successful',
				status: 'success'
			})
			$("#modal-balance").text(response['balance'])
			edit_row(address, response['balance'])
		},
		error: function(xhr) {
			UIkit.notification({
				message: 'Refresh failure',
				status: 'danger'
			})
			//Do Something to handle error
		}
	});
})

$("#test_encryption").click(function(){
  test_encryption()
})

function test_encryption(){
  var encrypted = sessionStorage.getItem('encrypted_password');
  $.ajax({
  	url: "/test_encryption?encrypted_data="+encrypted,
  	type: "get",
  	success: function(response) {
  		// Success code goes in here
      if(response['status'] == true){
        UIkit.notification({
          message: 'Encryption working',
          status: 'success'
        })
      } else {
        sessionStorage.clear();
        UIkit.notification({
          message: 'Encryption failure',
          status: 'danger'
        })

        UIkit.modal("#password-modal").show();

        $("#pwd-submit").click(function(){
          var pwd = $("#pwd-input").val()
          $.ajax({
            url: "/server_public",
            type: "get",
            success: function(response) {
              // Success code goes in here
              pub_key = response['public_key']

              var publicKey = forge.pki.publicKeyFromPem(pub_key)
              var encrypted = publicKey.encrypt(pwd, "RSA-OAEP", {
                          md: forge.md.sha256.create(),
                          mgf1: forge.mgf1.create()
                      });

              var base64 = forge.util.encode64(encrypted);
              // console.log(base64)
              sessionStorage.setItem('encrypted_password', base64);
            },
            error: function(xhr) {
              // Handle errors here
            }
          });
        })
      }
  	},
  	error: function(xhr) {
  		// Handle errors here
      UIkit.notification({
        message: 'Server failure: '+xhr,
        status: 'danger'
      })
  	}
  });
}
</script>
{% endblock %}
