{% set active_item = active_item|default('home') %}
{% set admin_bool = active_item|default('None') %}
<!-- UIkit CSS -->
<link rel="stylesheet" href="/static/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="/static/js/uikit.min.js"></script>
<script src="/static/js/uikit-icons.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">


<header>

	<nav class="uk-navbar-container uk-margin uk-visible@m" uk-navbar>
		<div class="uk-navbar-center">

			<ul class="uk-navbar-nav">
				<li class="{% if active_item == 'home' %}uk-active{% endif %}"><a href="{{ url_for('index') }}">Quant Capital</a></li>
				{% if current_user.is_authenticated %}
				<li class="{% if active_item == 'live_trading' %}uk-active{% endif %}"><a href="#">Live Trading</a></li>
											<li  class="{% if active_item == 'view_strategies' %}uk-active{% endif %}"><a href="{{ url_for('strategies') }}">View Strategies</a></li>
				<li>
					<a href="#">Backtesting</a>
					<div class="uk-navbar-dropdown round">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li><a href="#"><span uk-icon="icon: settings"></span> Edit Indicators</a></li>
							<li  class="{% if active_item == 'build_strat' %}uk-active{% endif %}"><a href="{{ url_for('create_backtest') }}"><span uk-icon="icon: code"></span> Build Strategy</a></li>
							<li><a href="#"><span uk-icon="icon: search"></span> View Backtests</a></li>
						</ul>
					</div>
				</li>
				{% endif %}
			</ul>
		</div>
							<div class="uk-navbar-right uk-margin-right">

	<ul class="uk-navbar-nav">
		{% if current_user.is_anonymous %}
			<li><a class="nav-btn" href="{{ url_for('login') }}">Login</a></li>
			 <li><a href="{{ url_for('register') }}">Sign Up</a></li>
			 {% else %}
			 <li  class="{% if active_item == 'profile' %}uk-active{% endif %}">
				 <a class="nav-btn" href="{{ url_for('profile') }}">Profile</a>
				 <!-- {% if admin_bool == "admin" %}
				 <div class="uk-navbar-dropdown round">
					 <ul class="uk-nav uk-navbar-dropdown-nav">
						 <li  class="{% if active_item == 'user_data' %}uk-active{% endif %}"><a href="{{ url_for('user_stats') }}"><span uk-icon="icon: code"></span> User Data</a></li>
						 <li  class="{% if active_item == 'job_data' %}uk-active{% endif %}"><a href="{{ url_for('job_stats') }}"><span uk-icon="icon: code"></span> Job Data</a></li>
					 </ul>
				 </div>
				 {% endif %} -->
			 </li>
				<li><a href="{{ url_for('logout') }}">Sign Out</a></li>
				{% endif %}
	</ul>

</div>
	</nav>

	<nav class="uk-navbar uk-navbar-container uk-hidden@m uk-margin-bottom">
		<div class="uk-navbar-left">
			<a class="uk-navbar-toggle" href="#offcanvas-usage" uk-toggle="target: #offcanvas-nav-primary">
            <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
        </a>
		</div>
	</nav>

	<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
		<div class="uk-offcanvas-bar uk-flex uk-flex-column">

			<ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical uk-nav-parent-icon" uk-nav="multiple: true">
				<li><a href="{{ url_for('index') }}">Quant Capital</a></li>
				{% if current_user.is_authenticated %}
	 							<li><a href="#">Live Trading</a></li>
	              				<li class="uk-active"><a href="{{ url_for('strategies') }}">View Strategies</a></li>
	         <li class="uk-parent">
	             <a href="#">Backtesting <span uk-icon="chevron-right"></span></a>
	             <ul class="uk-nav-sub">
	 										<li><a href="#"><span uk-icon="icon: settings"></span> Edit Indicators</a></li>
	 										<li><a href="#"><span uk-icon="icon: code"></span> Build Strategy</a></li>
	 										<li><a href="#"><span uk-icon="icon: search"></span> View Backtests</a></li>
	             </ul>
	         </li>

	         {% endif %}

	         {% if current_user.is_anonymous %}
	           <li><a class="nav-btn" href="{{ url_for('login') }}">Login</a></li>
	            <li><a href="{{ url_for('register') }}">Sign Up</a></li>
	            {% else %}
	            <li><a class="nav-btn" href="#">Profile</a></li>
	             <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
	             {% endif %}
			</ul>

		</div>
	</div>

</header>

<style>

.top-round {
  border-radius: 0.25em 0.25em 0 0;
}

.bottom-round {
  border-radius: 0 0 0.25em 0.25em;
}

.empty-btn {
  border-radius: 7em;
  box-shadow: 0 0.5em 1em rgba(158,158,158, .45);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.empty-btn:hover{
  box-shadow: 0 0.75em 1.5em rgba(158,158,158, .85);
}

.btn {
  border-radius: 7em;
  background: linear-gradient(to left, #f280ab, #f8a992);
  box-shadow: 0 0.5em 1em rgba(242, 128, 171, .45);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  /* background-color: */
}

.btn:hover {
  box-shadow: 0 0.75em 1.5em rgba(242, 128, 171, .85);
}

.z-float {
  z-index: 1000;
}

  body,
  html {
    background-color: #F5F5F5;
  }

  .edit-btn {
    border-radius: 7em;
    font-size: 0.85em;
    width: 100%;
    min-width: 50px;
    max-width: 7em;
    background: linear-gradient(to left, #f280ab, #f8a992);
    box-shadow: 0 0.5em 1em rgba(242, 128, 171, .45);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /* background-color: */
  }
.bottom-float {
border-radius: 10em;
font-size: 1.5em;
padding: 0.75em;
background: linear-gradient(to left, #f280ab, #f8a992);
box-shadow: 0 0.5em 1em rgba(242, 128, 171, .45);
transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bottom-float:hover{
box-shadow: 0 0.75em 1.5em rgba(242, 128, 171, .85);
}
  .edit-btn:hover {
    box-shadow: 0 0.75em 1.5em rgba(242, 128, 171, .85);
  }

  .uk-navbar-container:not(.uk-navbar-transparent) {
    background: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
  }

  .uk-offcanvas-bar {
    background-color: #f8f8f8;

  }

  .uk-offcanvas-primary {
    background-color: #f8f8f8;

  }

  .uk-offcanvas-bar {
    background-color: #f8f8f8;

  }

  .uk-offcanvas-bar ul li a {
    color: #333 !important;
  }

  @font-face {
    font-family: DeliciousRoman;
    src: url(/static/Font.woff2);
  }

  .uk-navbar-nav {
    font-family: DeliciousRoman;
  }

  .uk-navbar-nav * {
    font-family: inherit;
  }

  .uk-navbar-nav li a {
    font-family: inherit;
  }

  .uk-card {
    border-radius: 0.25em;
  }

  .img-top {
    height: 10em;
    width: 100%;
  }

  img {
    border-radius: 0.25em 0.25em 0 0;
  }

  .card {
    padding: 0;
    border-radius: 0.25em;
  }

  .round {
    border-radius: 0.25em;
  }
</style>

{% block content %}

{% endblock %}
