<!-- UIkit CSS -->
<link rel="stylesheet" href="/static/css/uikit.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css"/>

<!-- UIkit JS -->
<script src="/static/js/uikit.min.js"></script>
<script src="/static/js/uikit-icons.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">


<header>

	<nav class="uk-navbar-container uk-margin uk-visible@m" uk-navbar uk-sticky>
		<div class="uk-navbar-center">

			<ul class="uk-navbar-nav">
<li>Micro Wallet</li>
			</ul>
		</div>
							<div class="uk-navbar-right uk-margin-right">

	<ul class="uk-navbar-nav">
		{% if current_user.is_anonymous %}
			<li><a class="nav-btn" href="{{ url_for('login') }}">Login</a></li>
			 <li><a href="{{ url_for('login') }}">Sign Up</a></li>
			 {% else %}
			 <li  class="{% if active_item == 'profile' %}uk-active{% endif %}">
				 <a href="#" data-uk-icon="icon:more"></a>
				 <div class="drop-nav uk-dropdown uk-margin-right" data-uk-dropdown="mode: click; offset: 20;animation: uk-animation-slide-bottom-small; duration: 150">
									 <h4 class="uk-margin-small-bottom uk-margin-remove-adjacent">Manage Profile</h4>
									 <p class="uk-text-small uk-text-muted">Excepteur sint occaecat cupidatat non
									 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									 <hr>
									 <a id="test_encryption" class="uk-button uk-button-primary uk-width-1-1">Test Encryption</a>
								 </div>
				 <!-- {% if admin_bool == "admin" %}
				 <div class="uk-navbar-dropdown round">
					 <ul class="uk-nav uk-navbar-dropdown-nav">
						 <li  class="{% if active_item == 'user_data' %}uk-active{% endif %}"><a href="{{ url_for('user_stats') }}"><span uk-icon="icon: code"></span> User Data</a></li>
						 <li  class="{% if active_item == 'job_data' %}uk-active{% endif %}"><a href="{{ url_for('job_stats') }}"><span uk-icon="icon: code"></span> Job Data</a></li>
					 </ul>
				 </div>
				 {% endif %} -->
			 </li>
				<li><a href="{{ url_for('logout') }}">Sign Out</a></li>
				{% endif %}
	</ul>

</div>
	</nav>

	<nav class="uk-navbar uk-navbar-container uk-hidden@m uk-margin-bottom">
		<div class="uk-navbar-left">
			<a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav-primary"></a>
		</div>
	</nav>

	<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
         <div class="uk-offcanvas-bar uk-flex uk-flex-column">

             <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                 <li class="uk-parent">
                     <a href="#">Bitcoin</a>
                     <ul class="uk-nav-sub">
                         <li><a href="{{ url_for('wallet', coin='BTC') }}">View accounts</a></li>
                         <li><a href="{{ url_for('send', coin='BTC') }}">Send and recieve</a></li>
                     </ul>
                 </li>
								 <hr class="uk-divider-icon">
								 <li class="uk-parent">
                     <a href="#">Bitcoin Testnet</a>
                     <ul class="uk-nav-sub">
                         <li><a href="{{ url_for('wallet', coin='BTCTEST') }}">View accounts</a></li>
                         <li><a href="{{ url_for('send', coin='BTCTEST') }}">Send and recieve</a></li>
                     </ul>
                 </li>
             </ul>

         </div>
     </div>


</header>

<style>

.top-round {
  border-radius: 0.25em 0.25em 0 0;
}

.bottom-round {
  border-radius: 0 0 0.25em 0.25em;
}

.empty-btn {
  border-radius: 7em;
  box-shadow: 0 0.5em 1em rgba(158,158,158, .45);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.empty-btn:hover{
  box-shadow: 0 0.75em 1.5em rgba(158,158,158, .85);
}

.btn {
  border-radius: 7em;
  background: linear-gradient(to left, #f280ab, #f8a992);
  box-shadow: 0 0.5em 1em rgba(242, 128, 171, .45);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  /* background-color: */
}

.btn:hover {
  box-shadow: 0 0.75em 1.5em rgba(242, 128, 171, .85);
}

.z-float {
  z-index: 1000;
}

  body,
  html {
    background-color: #F5F5F5;
  }

  .edit-btn {
    border-radius: 7em;
    font-size: 0.85em;
    width: 100%;
    min-width: 50px;
    max-width: 7em;
    background: linear-gradient(to left, #f280ab, #f8a992);
    box-shadow: 0 0.5em 1em rgba(242, 128, 171, .45);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /* background-color: */
  }
.bottom-float {
border-radius: 10em !important;
font-size: 1.5em;
padding: 0.75em;
background: linear-gradient(to left, #f280ab, #f8a992);
box-shadow: 0 0.5em 1em rgba(242, 128, 171, .45);
transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bottom-float:hover{
box-shadow: 0 0.75em 1.5em rgba(242, 128, 171, .85);
}
  .edit-btn:hover {
    box-shadow: 0 0.75em 1.5em rgba(242, 128, 171, .85);
  }

  .uk-navbar-container:not(.uk-navbar-transparent) {
    background: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
  }

  .uk-offcanvas-bar {
    background-color: #f8f8f8;

  }

  .uk-offcanvas-primary {
    background-color: #f8f8f8;

  }

  .uk-offcanvas-bar {
    background-color: #f8f8f8;

  }

  .uk-offcanvas-bar ul li a {
    color: #333 !important;
  }

  @font-face {
    font-family: DeliciousRoman;
    src: url(/static/Font.woff2);
  }

  .uk-navbar-nav {
    font-family: DeliciousRoman;
  }

  .uk-navbar-nav * {
    font-family: inherit;
  }

  .uk-navbar-nav li a {
    font-family: inherit;
  }

  .uk-card {
    border-radius: 0.25em;
  }

  .img-top {
    height: 10em;
    width: 100%;
  }

  img {
    border-radius: 0.25em 0.25em 0 0;
  }

  .card {
    padding: 0;
    border-radius: 0.25em;
  }

  .round {
    border-radius: 0.25em;
  }

	.uk-button {
		border-radius: 0.25em;
	}
	.uk-modal-body {
		border-radius: 0.25em;
	}

	.offcanvas {
		background-color: #1e87f0;
		color: #fff !important;
	}
</style>
<body>
  <link rel="stylesheet" href="/static/dashboard.css" />
  <aside id="left-col" class="uk-light uk-visible@m">
    <div class="profile-bar">
      <div class="uk-grid uk-grid-small uk-flex uk-flex-middle" data-uk-grid>
        <div class="uk-width-auto"><img src='https://www.gravatar.com/avatar/{{hash}}?d=identicon' alt="" class="uk-border-circle profile-img"></div>
        <div class="uk-width-expand">
          <span class="uk-text-small uk-text-muted">Welcome</span>
          <h4 class="uk-margin-remove-vertical text-light">{{current_user.username}}</h4>
        </div>
      </div>
    </div>

    <div class="bar-content uk-position-relative">
      <ul class="uk-nav-default uk-nav-parent-icon" data-uk-nav>
        <li class="uk-nav-header">Home</li>
        <li><a href=""><span class="uk-margin-small-right" data-uk-icon="icon: home"></span> Dashboard</a></li>

				<li class="uk-nav-header">Bitcoin Testnet</li>
				<li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" data-uk-icon="icon: cart"></span> Manage</a>
					<ul class="uk-nav-sub">
						<li><a href="{{ url_for('wallet', coin='BTCTEST') }}">Main</a></li>
						<li><a href="{{ url_for('send', coin='BTCTEST') }}">Send and Recieve</a></li>
					</ul>
				</li>

        <li class="uk-nav-header">Bitcoin</li>
				<li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" data-uk-icon="icon: cart"></span> Manage</a>
					<ul class="uk-nav-sub">
						<li><a href="{{ url_for('wallet', coin='BTC') }}">Main</a></li>
						<li><a href="{{ url_for('send', coin='BTC') }}">Send and Recieve</a></li>
					</ul>
				</li>


      </ul>
    </div>
  </aside>
  <!-- /LEFT BAR -->
  <!-- CONTENT -->
  <div id="content">
    <div class="uk-container uk-container-expand">
      {% block content %}

      {% endblock %}
  </div>
  </div>
  <!-- /CONTENT -->

</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/i18n/en.js"></script>
  <script>

  </script>
  <style>
#content {
	padding: 0;
}
  input {
    border-radius: 0.25em !important;
  }
.uk-card {
  /* border-top-color: #8630F0; */
	/* linear-gradient(to right, #0098fd, #6bbcf6) */
  border-top: #f280ab 2px solid;
}

  .hide {
    display: none;
  }
  </style>
</body>
